PORT=5000
MONGO_URI=mongodb+srv://saikumarrr741_db_user:QLJyiWT6ekhr773T@cluster0.iyq0gxr.mongodb.net/?appName=Cluster0
JWT_SECRET=PezMI74OxabM0WRqkCvY4ItW8V1JQAWj20etjrbMRTm
JWT_EXPIRES_IN=7d
SEPARATION_ALERT_KM=2

